<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.jboss.tools.ws.jaxrs.metamodelBuilder"
         name="JAX-RS Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false">
         <run
               class="org.jboss.tools.ws.jaxrs.core.internal.metamodel.builder.JaxrsMetamodelBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="org.jboss.tools.ws.jaxrs.nature"
         name="JAX-RS 1.1 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jboss.tools.ws.jaxrs.core.configuration.ProjectBuilderConfigurer">
         </run>
      </runtime>
      <builder
            id="org.jboss.tools.ws.jaxrs.metamodelBuilder">
      </builder>
   </extension>

   <extension
         id="org.jboss.tools.ws.jaxrs.metamodelMarker"
         name="JAX-RS Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   
</plugin>
