<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.jboss.tools.ws.jaxrs.metamodelBuilder"
         name="JAX-RS Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false">
         <run
               class="org.jboss.tools.ws.jaxrs.core.internal.metamodel.builder.JaxrsMetamodelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.jboss.tools.ws.jaxrs.configuration.nature.enable"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.jboss.tools.ws.jaxrs.nature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="org.jboss.tools.ws.jaxrs.core.configuration.AddNatureAction"
               id="org.jboss.tools.ws.jaxrs.configuration.addJaxrsConfigurationAction"
               label="%ConfigureMenu_AddJaxrs11Support"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.jboss.tools.ws.jaxrs.configuration.nature.disable"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="org.jboss.tools.ws.jaxrs.nature">
               </objectState>
            </and>
         </visibility>
         <action
               class="org.jboss.tools.ws.jaxrs.core.configuration.RemoveNatureAction"
               id="org.jboss.tools.ws.jaxrs.removeJaxrsConfigurationAction"
               label="%ConfigureMenu_RemoveJaxrs11Support"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.jboss.tools.ws.jaxrs.nature"
         name="JAX-RS 1.1 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jboss.tools.ws.jaxrs.core.configuration.ProjectBuilderConfigurer">
         </run>
      </runtime>
      <builder
            id="org.jboss.tools.ws.jaxrs.metamodelBuilder">
      </builder>
   </extension>
   <extension
         id="org.jboss.tools.ws.jaxrs.metamodelMarker"
         name="JAX-RS Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.jboss.tools.common.validation.validator">
      <validator
            class="org.jboss.tools.ws.jaxrs.core.internal.metamodel.validation.JaxrsMetamodelValidator"
            id="org.jboss.tools.ws.jaxrs.JaxrsMetamodelValidator"
            name="%VALIDATOR_NAME">
      </validator>
   </extension>
   
    <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.ws.jaxrs.core.preferences.JaxrsPreferenceInitializer"/>
   </extension>
  

</plugin>
