<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.jboss.tools.ws.jaxrs.configuration.nature.enable"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.jboss.tools.ws.jaxrs.nature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="org.jboss.tools.ws.jaxrs.ui.configuration.AddNatureAction"
               id="org.jboss.tools.ws.jaxrs.configuration.addJaxrsConfigurationAction"
               label="%ConfigureMenu_AddJaxrs11Support"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.jboss.tools.ws.jaxrs.configuration.nature.disable"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="org.jboss.tools.ws.jaxrs.nature">
               </objectState>
            </and>
         </visibility>
         <action
               class="org.jboss.tools.ws.jaxrs.ui.configuration.RemoveNatureAction"
               id="org.jboss.tools.ws.jaxrs.removeJaxrsConfigurationAction"
               label="%ConfigureMenu_RemoveJaxrs11Support"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <!--viewerContentBinding viewerId="org.eclipse.jdt.ui.PackageExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.jboss.tools.ws.jaxrs.ui.uriMappingsNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding-->
      
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.jboss.tools.ws.jaxrs.ui.uriMappingsNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      
      <!-- Viewer content binding for our Custom implementation of o.e.ui.navigator.CommonNavigator : keep for later-->
      <!--viewer 
            viewerId="org.jboss.tools.ws.jaxrs.ui.viewpart.OutlineView">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="org.jboss.tools.ws.jaxrs.ui.viewpart.OutlineView">
         <includes>
            <contentExtension
                  pattern="org.jboss.tools.ws.jaxrs.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding -->
      <!--viewerActionBinding
            viewerId="org.jboss.tools.ws.jaxrs.ui.jaxrsOutlineView">
      </viewerActionBinding-->
   </extension>
   
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <!-- Binding for Resource elements of the metamodel -->
      <!-- navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.ResourcesContentProvider"
            icon="icons/restful_11.gif"
            id="org.jboss.tools.ws.jaxrs.ui.resourcesNavigatorContent"
            labelProvider="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.ResourcesLabelProvider"
            name="JAX-RS Resources"
            priority="highest"
            providesSaveables="false">
         <triggerPoints>
            <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.RootCategory"> 
                  </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
         	<or>
               <instanceof
                     value="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.ResourcesCategory">
               </instanceof>
              </or>
         </possibleChildren>
      </navigatorContent -->
      <!-- Binding for Provider elements of the metamodel -->
      <!-- navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.ProvidersContentProvider"
            icon="icons/restful_11.gif"
            id="org.jboss.tools.ws.jaxrs.ui.providersNavigatorContent"
            labelProvider="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.ProvidersLabelProvider"
            name="JAX-RS Providers"
            priority="high"
            providesSaveables="false">
         <triggerPoints>
            <or>
              <instanceof
                    value="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.RootCategory">
              </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
         	<or>
               <instanceof
                     value="org.jboss.tools.ws.jaxrs.ui.viewpart.cnf.ProvidersCategory">
               </instanceof>
              </or>
         </possibleChildren>
      </navigatorContent -->
      
      <!-- Binding for URI Mappings computed in the metamodel -->
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.jdt.java.ui.javaContent"
            contentProvider="org.jboss.tools.ws.jaxrs.ui.cnf.UriMappingsContentProvider"
            icon="icons/restful_web_services.gif"
            id="org.jboss.tools.ws.jaxrs.ui.uriMappingsNavigatorContent"
            labelProvider="org.jboss.tools.ws.jaxrs.ui.cnf.UriMappingsLabelProvider"
            name="%navigatorContentName"
            priority="highest"
            providesSaveables="false">
         <triggerPoints>
            <and>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <test
	                forcePluginActivation="true"
	                property="org.eclipse.core.resources.projectNature"
	                value="org.jboss.tools.ws.jaxrs.nature">
              </test>
            </and>
         </triggerPoints>
         <possibleChildren>
         	<or>
               <instanceof
                     value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateCategory">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateMediaTypeMappingElement">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateMethodMappingElement">
               </instanceof>
              </or>
         </possibleChildren>
         <commonSorter
               class="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplatesSorter"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.uriPathTemplatesSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateCategory">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <commonSorter
               class="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElementsSorter"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.uriPathTemplateElementsSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <actionProvider
               class="org.jboss.tools.ws.jaxrs.ui.cnf.action.OpenJavaEditorActionProvider"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.openJavaEditorActionProvider"
               priority="highest">
            <enablement>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement">
                  </instanceof>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateMethodMappingElement">
                  </instanceof>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateMediaTypeMappingElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.jboss.tools.ws.jaxrs.ui.cnf.action.CopyToClipboardActionProvider"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.copyToClipboardActionProvider"
               priority="normal">
            <enablement>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.jboss.tools.ws.jaxrs.ui.cnf.action.RefreshNavigatorActionProvider"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.refreshNavigatorActionProvider"
               priority="normal">
            <enablement>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateCategory">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.jboss.tools.ws.jaxrs.ui.cnf.action.CreateResourceActionProvider"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.createResourceActionProvider"
               priority="normal">
            <enablement>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateCategory">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
<!--         <actionProvider
               class="org.jboss.tools.ws.jaxrs.ui.cnf.action.OpenInWSTesterActionProvider"
               id="org.jboss.tools.ws.jaxrs.ui.cnf.openWSTesterActionProvider"
               priority="normal">
            <enablement>
               <or>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement">
                  </instanceof>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateMethodMappingElement">
                  </instanceof>
                  <instanceof
                        value="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateMediaTypeMappingElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider> -->
      </navigatorContent>
      <commonWizard
            menuGroupId="org.jboss.tools.ws.jaxrs.ui.menuGroup"
            type="new"
            wizardId="org.jboss.tools.ws.jaxrs.ui.wizard.jaxrsResourceCreationWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragmentRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.ICompilationUnit">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <!--commonWizard
            menuGroupId="org.eclipse.wst.web.ui.webclass"
            type="new"
            wizardId="org.jboss.tools.ws.jaxrs.ui.wizard.jaxrsApplicationCreationWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragmentRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.ICompilationUnit">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </or></enablement>
      </commonWizard-->
   </extension>
   
   <extension
         point="org.eclipse.jst.common.project.facet.core.libraryProviders">
      <provider
            abstract="false"
            id="org.jboss.tools.ws.jaxrs.ui.pureJEE6LibraryProvider">
         <action
               type="INSTALL">
            <operation
                  class="org.jboss.tools.ws.jaxrs.ui.facet.PureJEE6LibraryInstallOperation">
            </operation>
         </action>
         <action
               type="UNINSTALL">
            <operation
                  class="org.jboss.tools.ws.jaxrs.ui.facet.PureJEE6LibraryUninstallOperation"></operation>
         </action>
         <label>Pure JEE6 Implementation</label>
         <enablement>
        <with variable="requestingProjectFacet">
          <test property="org.eclipse.wst.common.project.facet.core.projectFacet"
				value="jst.jaxrs:1.1" forcePluginActivation="true"/>
        </with>
        <with variable="projectFacets">
            <count value="+"/>
            <iterate operator="or">
                <test property="org.eclipse.wst.common.project.facet.core.projectFacet"
					value="java:[5.0" forcePluginActivation="true"/>
            </iterate>
        </with>        
      </enablement>
      </provider>
   </extension>
   
   <extension point="org.eclipse.jst.common.project.facet.ui.libraryProviderActionPanels">
    <panel 
      provider="org.jboss.tools.ws.jaxrs.ui.pureJEE6LibraryProvider"
      class="org.jboss.tools.ws.jaxrs.ui.facet.PureJEE6LibraryProviderInstallPanel"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.listeners">
      <listener
            class="org.jboss.tools.ws.jaxrs.ui.facet.JaxrsFacetedProjectListener"
            eventTypes="POST_INSTALL,POST_UNINSTALL">
      </listener>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.jst.ws.jaxrs.core.jaxrsLibraryProvider">
      <jaxrsLibraryprovider
            libraryProviderID="org.jboss.tools.ws.jaxrs.ui.pureJEE6LibraryProvider"
            showUpdateDD="true"
            updateDDSelected="false">
      </jaxrsLibraryprovider>
   </extension>

   <extension
         id="org.jboss.tools.ws.jaxrs.ui.pathParamAnnotationValueCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="org.jboss.tools.ws.jaxrs.ui.contentassist.PathParamAnnotationValueCompletionProposalComputer">
         <!--partition
               type="__dftl_partition_content_type">
         </partition-->
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <!--extension
      id="org.jboss.tools.ws.jaxrs.ui.methodParametersCompletionProposalComputer"
      point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
     <javaCompletionProposalComputer
         activate="true"
         categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
         class="org.jboss.tools.ws.jaxrs.ui.contentassist.MethodParametersCompletionProposalComputer">
         <partition
               type="__dftl_partition_content_type">
         </partition>
         <partition
               type="__java_string">
         </partition>
     </javaCompletionProposalComputer>
   </extension-->
   <!--extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.jboss.tools.ws.jaxrs.ui.contentassist.JaxrsMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension-->
   <!-- see https://bugs.eclipse.org/bugs/show_bug.cgi?id=338898 -->

  <extension point="org.eclipse.wst.server.core.moduleArtifactAdapters">
	<moduleArtifactAdapter
			id="org.jboss.tools.ws.jaxrs.ui.jaxrsartifactadapter"
            class="org.jboss.tools.ws.jaxrs.ui.internal.launcher.JaxrsPathModuleArtifactAdapter">
	  <enablement>
		<with variable="selection">
		  <adapt type="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement"/>
		</with>
	  </enablement>
	</moduleArtifactAdapter>
  </extension>
  <extension
        point="org.eclipse.wst.server.core.clients">
     <client
           class="org.jboss.tools.ws.jaxrs.ui.internal.launcher.WSTesterClientDelegate"
           id="org.jboss.tools.ws.jaxrs.ui.wsTesterClient">
     </client>
  </extension>
  <extension
        point="org.eclipse.wst.server.core.launchableAdapters">
     <launchableAdapter
           class="org.jboss.tools.ws.jaxrs.ui.internal.launcher.WSTesterLaunchableAdapterDelegate"
           id="org.jboss.tools.ws.jaxrs.ui.wsTesterLaunchableAdapter"
           priority="20"
           typeIds="*">
     </launchableAdapter>
  </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElement"
            class="org.jboss.tools.ws.jaxrs.ui.cnf.UriPathTemplateElementAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
       <page
            name="%PreferencePage"
            class="org.jboss.tools.ws.jaxrs.ui.preferences.JaxrsSettingsPreferencePage"
            id="org.jboss.tools.ws.jaxrs.ui.propertyPages.JaxrsSettingsPropertyPage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
				</adapt>
         </enabledWhen>
      </page>
       <page
            name="%PreferencePage_Validator"
            class="org.jboss.tools.ws.jaxrs.ui.preferences.JaxrsValidatorPreferencePage"
            id="org.jboss.tools.ws.jaxrs.ui.propertyPages.JaxrsValidatorPreferencePage"
            category="org.jboss.tools.ws.jaxrs.ui.propertyPages.JaxrsSettingsPropertyPage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.jboss.tools.ws.jaxrs.nature"/>
				</adapt>
         </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
        category="org.jboss.tools.common.model.ui.MainPreferencePage"
        class="org.jboss.tools.ws.jaxrs.ui.preferences.JaxrsPreferencePage"
        id="org.jboss.tools.ws.jaxrs.ui.preferencePages.JaxrsPreferencePage"
        name="%PreferencePage">
      </page>
      <page 
         category="org.jboss.tools.ws.jaxrs.ui.preferencePages.JaxrsPreferencePage" 
         class="org.jboss.tools.ws.jaxrs.ui.preferences.JaxrsValidatorPreferencePage" 
         id="org.jboss.tools.ws.jaxrs.ui.preferencePages.JaxrsValidatorPreferencePage" 
         name="%PreferencePage_Validator">
      </page>
      
   </extension>
   
   <extension
         point="org.jboss.tools.common.validation.validator">
      <validator
            class="org.jboss.tools.ws.jaxrs.ui.internal.validation.JaxrsMetamodelValidator"
            id="org.jboss.tools.ws.jaxrs.JaxrsMetamodelValidator"
            name="%VALIDATOR_NAME"
            problemType="org.jboss.tools.ws.jaxrs.metamodelMarker">
      </validator>
   </extension>
   
    <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.ws.jaxrs.ui.preferences.JaxrsPreferenceInitializer"/>
   </extension>
   
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             activate="true"
             class="org.jboss.tools.ws.jaxrs.ui.navigation.JaxrsNameBindingHyperlinkDetector"
             id="org.jboss.tools.ws.jaxrs.ui.nameBindingHyperlinkDetector"
             name="Name Binding Hyperlink Detector"
             targetId="org.eclipse.jdt.ui.javaCode">
       </hyperlinkDetector>
    </extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
       <target
             id="org.jboss.tools.ws.jaxrs.ui.nameBindingHyperlinkTarget"
             name="Name Binding">
       </target>
    </extension>
   
    <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.jst.ws.ui.new"
            icon="icons/obj16/new_webserv_wiz.gif"
            id="org.jboss.tools.ws.jaxrs.ui.wizard.jaxrsResourceCreationWizard"
            name="%jaxrsresource.wizard.name"
            project="false">
         <class class="org.jboss.tools.ws.jaxrs.ui.wizards.JaxrsResourceCreationWizard">
            <parameter name="javaeeartifact" value="true"/> 
			<parameter name="menuIndex" value="50" />
         </class>
         <description>
            %jaxrsresource.wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <selection
               class="org.eclipse.jdt.core.IPackageFragment">
         </selection>
         <selection
               class="org.eclipse.jdt.core.IPackageFragmentRoot">
         </selection>
         <selection
               class="org.eclipse.jdt.core.ICompilationUnit">
         </selection>
         <selection
               class="org.eclipse.jdt.core.IType">
         </selection>
         
      </wizard>
      <wizard
            id="org.jboss.tools.ws.jaxrs.ui.wizard.jaxrsApplicationCreationWizard"
            category="org.eclipse.jst.ws.ui.new"
            class="org.jboss.tools.ws.jaxrs.ui.wizards.JaxrsApplicationCreationWizard"
            icon="icons/obj16/new_webserv_wiz.gif"
            name="%jaxrsapplication.wizard.name">
         <description>
            %jaxrsapplication.wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <selection
               class="org.eclipse.jdt.core.IPackageFragment">
         </selection>
         <selection
               class="org.eclipse.jdt.core.IPackageFragmentRoot">
         </selection>
         <selection
               class="org.eclipse.jdt.core.ICompilationUnit">
         </selection>
         <selection
               class="org.eclipse.jdt.core.IType">
         </selection>
      </wizard>
     </extension>
     
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.jboss.tools.ws.jaxrs.metamodelMarker"
         class="org.jboss.tools.ws.jaxrs.ui.quickfix.JaxrsMarkerResolutionGenerator"/>
    </extension>
   
    <extension
          point="org.eclipse.jdt.ui.quickFixProcessors">
       <quickFixProcessor
             class="org.jboss.tools.ws.jaxrs.ui.quickfix.JaxrsMarkerResolutionGenerator"
             id="org.jboss.tools.ws.jaxrs.ui.jaxrsMarkerQuickFixProcessor">
          <handledMarkerTypes>
             <markerType
                   id="org.eclipse.jdt.core.problem">
             </markerType>
             <markerType
                   id="org.jboss.tools.ws.jaxrs.metamodelMarker">
             </markerType>
          </handledMarkerTypes>
       </quickFixProcessor>
    </extension>
    
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jboss.tools.common.ui.JBossPerspective">
         <newWizardShortcut
               id="org.jboss.tools.ws.jaxrs.ui.wizard.jaxrsResourceCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut
               id="org.jboss.tools.ws.jaxrs.ui.wizard.jaxrsResourceCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.ws.jaxrs.ui.internal.importer.JaxRsConfigurator"
            label="Java EE Jax-RS">
         <activeWhen>
            <hasFileRecursively
                  filename="web.xml">
            </hasFileRecursively>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
