<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
       point="org.eclipse.wst.command.env.ui.widgetRegistry">
    <widgetFactory
          class="org.jboss.tools.ws.creation.ui.wsrt.JBossWSConfigWidgetFactory"
          id="JBossWSWSDL2JavaConfig"
          insertBeforeCommandId="org.jboss.tools.ws.creation.core.commands.WSDL2JavaCommnad">
    </widgetFactory>
 </extension>
    
    <extension point="org.eclipse.jst.ws.consumption.ui.runtimes">
      <runtime
        id="org.jboss.tools.ws.creation.jbossWebServiceRT"
        label="JBossWS"
        serverRequired="false"/>
    </extension>


    <extension point="org.eclipse.jst.ws.consumption.ui.serviceRuntimes">
      <serviceRuntime
        id="org.jboss.tools.ws.creation.java" 
        serviceImplementationTypeId="org.eclipse.jst.ws.wsImpl.java"
        runtimeId="org.jboss.tools.ws.creation.jbossWebServiceRT"
        bottomUp="true"
        topDown="true"
        class="org.jboss.tools.ws.creation.ui.wsrt.JBossWebServiceRuntime">

        <required-facet-version facet="jst.web" version="2.3" allow-newer="true"/>
        <required-facet-versiond facet="jbossws.core" version="1.0" allow-newer="true" />
        <!--required-facet-version facet="jbossws.ext" version="1.0" allow-newer="true" / -->

      </serviceRuntime>
    </extension>   
        
    <extension point="org.eclipse.jst.ws.consumption.ui.clientRuntimes">
      <clientRuntime
        id="org.jboss.tools.ws..consumption.web"
        clientImplementationTypeId="org.eclipse.jst.ws.client.type.java"
        runtimeId="org.jboss.tools.ws.creation.jbossWebServiceRT"
        class="org.jboss.tools.ws.creation.ui.wsrt.JBossWebServiceRuntime">

        <required-facet-version facet="jst.web" version="2.3" allow-newer="true" />
        

      </clientRuntime>
    </extension>
    <extension
          point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory
             class="org.jboss.tools.ws.creation.ui.wsrt.JBossWSProviderInvokeConfigWidgetFactory"
             id="JBossWSProviderInvokeConfig"
             insertBeforeCommandId="org.jboss.tools.ws.creation.core.commands.WSProviderInvokeCommnad">
       </widgetFactory>
    </extension>    

</plugin>
