<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
      <widgetFactory   
        id="BeanExampleConfig"
        insertBeforeCommandId="org.eclipse.jst.ws.axis2.creation.core.command.Axis2BUCommand"
        class="org.eclipse.jst.ws.internal.axis2.creation.ui.wsrt.Axis2BeanConfigWidgetFactory"/>
    </extension> 
    
	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
      <widgetFactory   
        id="SkelExampleConfig"
        insertBeforeCommandId="org.eclipse.jst.ws.axis2.creation.core.command.Axis2TDCommand"
        class="org.eclipse.jst.ws.internal.axis2.creation.ui.wsrt.Axis2SkelConfigWidgetFactory" />
    </extension> 
    
    <extension point="org.eclipse.jst.ws.consumption.ui.runtimes">
      <runtime
        id="org.jboss.tools.ws.creation.jbossWebServiceRT"
        label="JBossWS"
        serverRequired="false"/>
    </extension>


	<!-- define support for Axis2 Java bean bottom up and top-down support in web projects -->
    <extension point="org.eclipse.jst.ws.consumption.ui.serviceRuntimes">
      <serviceRuntime
        id="org.jboss.tools.ws.creation.java" 
        serviceImplementationTypeId="org.eclipse.jst.ws.wsImpl.java"
        runtimeId="org.jboss.tools.ws.creation.jbossWebServiceRT"
        bottomUp="true"
        topDown="true"
        class="org.jboss.tools.ws.creation.ui.wsrt.JBossWebServiceRuntime">

        <!--required-facet-version facet="jst.web" version="2.3" allow-newer="true"/>
        <required-facet-versiond facet="jbossws.core" version="1.0" allow-newer="true" />
        <required-facet-version facet="jbossws.ext" version="1.0" allow-newer="true" / -->

      </serviceRuntime>
    </extension>   
        
    <!-- define support for Axis Java clients in Web projects -->
    <extension point="org.eclipse.jst.ws.consumption.ui.clientRuntimes">
      <clientRuntime
        id="org.jboss.tools.ws..consumption.web"
        clientImplementationTypeId="org.eclipse.jst.ws.client.type.java"
        runtimeId="org.jboss.tools.ws.creation.jbossWebServiceRT"
        class="org.jboss.tools.ws.creation.ui.wsrt.JBossWebServiceRuntime">

        <!--required-facet-version facet="jst.web" version="2.3" allow-newer="true" />
        <required-facet-version facet="axis2.core" version="1.1" allow-newer="true" />
        <required-facet-version facet="axis2.ext" version="1.1" allow-newer="true" / -->

      </clientRuntime>
    </extension>    

</plugin>
