<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <category id="jbossws.category">
    	<label>%JBOSSWS_CATOGERY_LABEL</label>
    	<description>%JBOSSWS_CATOGERY_DISCRIPTION</description>
  	  </category>

		  <project-facet id="jbossws.core">
			<label>%JBOSSWS_FACET_CORE_LABEL</label>
			<description>%JBOSSWS_FACET_CORE_DISCRIPTION</description>
			<member category="jbossws.category "/>
		  </project-facet>

		<project-facet-version facet="jbossws.core" version="2.0.1">
		    <constraint>
      			<requires facet="jst.web" version="2.2,2.3,2.4,2.5"/>
    		</constraint>
    		<action
            facet="jbossws.core"
            id="jbossws.core.install"
            type="INSTALL">
      			<delegate class="org.jboss.tools.ws.core.facet.delegate.JBossWSInstallRuntimeDelegate"/>
         <config-factory
               class="org.jboss.tools.ws.core.facet.delegate.JBossWSFacetInstallDataModelProvider">
         </config-factory>
    		</action>
      <action
            facet="jbossws.core"
            id="jbossws.core.uninstall"
            type="UNINSTALL">
         <delegate
               class="org.jboss.tools.ws.core.facet.delegate.JBossWSUnInstallRuntimeDelegate">
         </delegate>
      </action>
      
  		</project-facet-version>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="jbossws.core">
         </facet>
         <runtime-component
         any="true"/>
      </supported>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.tools.ws.core.classpath.JBossWSRuntimeClassPathInitializer"
            id="JBossWS_Runtime">
      </classpathContainerInitializer>
   </extension>
   

</plugin>
