<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">

		  <project-facet id="jbossws.core">
			<label>%JBOSSWS_FACET_CORE_LABEL</label>
			<description>%JBOSSWS_FACET_CORE_DISCRIPTION</description>
		  </project-facet>

		<project-facet-version facet="jbossws.core" version="2.0">
		    <constraint>
      			<requires facet="jst.web" version="2.2,2.3,2.4,2.5"/>
    		</constraint>
      
  		</project-facet-version>
  <project-facet-version
        facet="jbossws.core"
        version="3.0">
     <constraint>
        <requires
              facet="jst.web"
              version="2.2,2.3,2.4,2.5">
        </requires>
     </constraint>
  </project-facet-version>
  <action
        facet="jbossws.core"
        id="jbossws.core.install"
        type="INSTALL"
        version="2.0,3.0">
     <delegate
           class="org.jboss.tools.ws.core.facet.delegate.JBossWSInstallRuntimeDelegate">
     </delegate>
     <config-factory
           class="org.jboss.tools.ws.core.facet.delegate.JBossWSFacetInstallDataModelProvider">
     </config-factory>
  </action>
  <action
        facet="jbossws.core"
        id="jbossws.core.uninstall"
        type="UNINSTALL"
        version="2.0,3.0">
     <delegate
           class="org.jboss.tools.ws.core.facet.delegate.JBossWSUnInstallRuntimeDelegate">
     </delegate>
  </action>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="jbossws.core">
         </facet>
         <runtime-component
         any="true"/>
      </supported>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.tools.ws.core.classpath.JBossWSRuntimeClassPathInitializer"
            id="JBossWS_Runtime">
      </classpathContainerInitializer>
   </extension>
   

</plugin>
