<plugin>
   <extension-point id="wsType" name="WebServices support" schema="schema/wsType.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.ws.ui.tester"
            name="%test.view.category.name">
      </category>
      <view
            category="org.jboss.tools.ws.ui.tester"
            class="org.jboss.tools.ws.ui.views.WebServicesTestView"
            icon="icons/obj16/ws_tester.gif"
            id="org.jboss.tools.ws.ui.tester.views.TestWSView"
            name="%test.view.name">
      </view>
   </extension> 
</plugin>
