<plugin>
   <extension point="org.eclipse.ui.preferencePages">     
      <page
            name="%JBOSSWS_PREFERENCE_PAGE"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.jboss.tools.ws.ui.preferences.JbossWSRuntimePreferencePage"
            id="org.jboss.tools.ws.ui.preferences.JbossWSRuntimePreferencePage">
      </page>
   </extension>
</plugin>
