<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.jboss.tools.ws.jaxws.tester.enablement"
            nameFilter="*.wsdl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.jboss.tools.ws.jaxws.ui.view.RunWSTesterAction"
               id="org.jboss.tools.ws.jaxws.tester.enablement.action"
               label="%RunWSTesterAction.label"
               menubarPath="org.eclipse.wst.ws.ui.webservice.category.popupMenu/popupActions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.jboss.tools.ws.ui.wsType">
      <wstype
            class="org.jboss.tools.ws.jaxws.ui.view.JAXWSType"
            id="JAXWS">
      </wstype>
   </extension> 
     <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.jboss.ide.eclipse.ui.wizards"
            class="org.jboss.tools.ws.jaxws.ui.wizards.JBossWSGenerateWizard"
            hasPages="true"
            icon="icons/obj16/new_webserv_wiz.gif"
            id="org.jboss.tools.ws.jaxws.ui.wizard.wsgenerate"
            name="%JBOSSWS_GENERATEACTION_LABEL">
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <description>
            %JBOSSWS_WIZARD_DESC
         </description>
      </wizard>
      <wizard
            category="org.eclipse.jst.ws.ui.new"
            class="org.jboss.tools.ws.jaxws.ui.wizards.JBossWSGenerateWizard"
            hasPages="true"
            icon="icons/obj16/new_webserv_wiz.gif"
            id="org.jboss.tools.ws.jaxws.ui.wizard.wsgenerate2"
            name="%JBOSSWS_GENERATEACTION_LABEL">
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <description>
            %JBOSSWS_WIZARD_DESC
         </description>
      </wizard>
      <wizard
            category="org.eclipse.jst.ws.ui.new"
            class="org.jboss.tools.ws.jaxws.ui.wizards.JBossWSAnnotatedClassWizard"
            hasPages="true"
            icon="icons/obj16/new_webserv_wiz.gif"
            id="org.jboss.tools.ws.jaxws.ui.wizard.wsclass2"
            name="%ws_bottom_up.wizard.name">
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <description>
            %ws_bottom_up.wizard.description
         </description>
      </wizard>
      <wizard
            category="org.jboss.ide.eclipse.ui.wizards"
            class="org.jboss.tools.ws.jaxws.ui.wizards.JBossWSAnnotatedClassWizard"
            hasPages="true"
            icon="icons/obj16/new_webserv_wiz.gif"
            id="org.jboss.tools.ws.jaxws.ui.wizard.wsclass"
            name="%ws_bottom_up.wizard.name">
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <description>
            %ws_bottom_up.wizard.description
         </description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">     
      <page
            name="%JBOSSWS_PREFERENCE_PAGE"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.jboss.tools.ws.jaxws.ui.preferences.JBossWSRuntimePreferencePage"
            id="org.jboss.tools.ws.jaxws.ui.preferences.JBossWSRuntimePreferencePage">
      </page>
   </extension>
   <extension point="org.eclipse.wst.common.project.facet.ui.images">  
       <image facet="jbossws.core" path="icons/obj16/new_webserv_wiz.gif"/>  
   </extension>
    <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
       <wizard-pages
            action="jbossws.core.install">
          <page
               class="org.jboss.tools.ws.jaxws.ui.project.facet.JBossWSFacetInstallPage">
         </page>
       </wizard-pages>
    </extension>
    <extension
        point="org.eclipse.ui.propertyPages">
       <page
           class="org.jboss.tools.ws.jaxws.ui.project.facet.JBossWSPropertyPage"
           id="org.jboss.tools.ws.jaxws.ui.page"
           name="%jbossws.page.name">
         <enabledWhen>
            <adapt
               type="org.eclipse.core.resources.IProject">
               <test
                  property="org.eclipse.wst.common.project.facet.core.projectFacet"
                  value="jbossws.core"/>
            </adapt>
         </enabledWhen>
       </page>
     </extension>
     
     <extension
       point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory
          class="org.jboss.tools.ws.jaxws.ui.wsrt.JBossWSWSDL2JavaConfigWidgetFactory"
          id="JBossWSWSDL2JavaConfig"
          insertBeforeCommandId="org.jboss.tools.ws.jaxws.core.commands.BindingFilesValidationCommand">
       </widgetFactory>
    </extension>
    
    <extension point="org.eclipse.jst.ws.consumption.ui.runtimes">
       <runtime
         id="org.jboss.tools.ws.jaxws.ui.jbossWebServiceRT"
         label="JBossWS"
         serverRequired="false"/>
    </extension>


    <extension point="org.eclipse.jst.ws.consumption.ui.serviceRuntimes">
       <serviceRuntime
         id="org.jboss.tools.ws.jaxws.ui.java" 
         serviceImplementationTypeId="org.eclipse.jst.ws.wsImpl.java"
         runtimeId="org.jboss.tools.ws.jaxws.ui.jbossWebServiceRT"
         bottomUp="true"
         topDown="true"
         class="org.jboss.tools.ws.jaxws.ui.wsrt.JBossWebServiceRuntime">

        <required-facet-version facet="jst.web" version="2.4" allow-newer="true"/>
        <!--required-facet-version facet="jbossws.ext" version="1.0" allow-newer="true" / -->
      </serviceRuntime>
    </extension>   
        
    <extension point="org.eclipse.jst.ws.consumption.ui.clientRuntimes">
       <clientRuntime
         id="org.jboss.tools.ws..consumption.web"
         clientImplementationTypeId="org.eclipse.jst.ws.client.type.java"
         runtimeId="org.jboss.tools.ws.jaxws.ui.jbossWebServiceRT"
         class="org.jboss.tools.ws.jaxws.ui.wsrt.JBossWebServiceRuntime">
        <required-facet-version facet="jst.java" version="1.4" allow-newer="true" />
      </clientRuntime>
    </extension>
    <extension
       point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory
             class="org.jboss.tools.ws.jaxws.ui.wsrt.JBossWSJava2WSDLConfigWidgetFactory"
             id="JBossWSProviderInvokeConfig"
             insertBeforeCommandId="org.jboss.tools.ws.jaxws.ui.commands.Java2WSCommand">
       </widgetFactory>
    </extension>
    <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.tools.ws.jaxws.ui.classpath.JBossWSRuntimeClassPathInitializer"
            id="JBossWS_Runtime"/>
   </extension>
</plugin>
